<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mastercard Mass</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/vendors.min.css">
	<link rel="stylesheet" href="css/styles.min.css">
	
</head>
<body>

	<div id="wrapper">
		<main id="main">
			<div id="content" class="wrapper">
<!-- *********************************************************************************************** -->





	BLANK TEMPLATE PAGE 






<!-- *********************************************************************************************** -->
			
			</div><!-- #content -->
		</main>
	</div>
	
	<!-- SCRIPTS -->
	<script src="js/vendors.js"></script>
	<script src="js/scripts.min.js"></script>
	
</body>
</html>